/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

html {
  box-sizing: border-box;
  margin: 20px;
}

.banner {
  text-align: center;
}

body {
  background-color: #9486E0;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: black;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  padding: 1p;
}

.logo {
  float: center;
  width: 60px;
  height: 60px;
}

nav {
  padding: 20px;
  text-align: center;
}

.user-input {
  float: center;
  padding: 20px;
}

.tags {
  color: #DFC7F0;
  padding: 20px;
}

input {
  width: 500px;
  height: 40px;
}

a:link {
  color: black;
  text-decoration: none;
  padding: 10px;
}

a:visited {
  color: black;
}

a:hover {
  color: #DFC7F0;
  background-color: #88A6F7;

  width: 10px;
  height: 10px;
}

a:active {
  color: #88A6F7;
}

.publish {
  border: solid black;
  background-color: #F05DEB;
}

.trending {
  border: solid black;
}

main.discover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

div.work1 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

div.work2 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

div.work3 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

div.work4 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

div.work5 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

div.work6 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

div.work7 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

div.work8 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

div.work9 {
  grid-column: 1/3
  width: 300px;
  height: 400px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}
footer {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.user-story {
  border: solid black;
  padding: 50px;
  align-content: center;
  background-color: white;
  color: black;
}

main.story-content {
  padding: 50px 100px 50px 100px;
}

img.user-image {
  width: 340px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bio-link {
  float: right;
  border-style: solid black;
}

.author {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid black;
  text-align: center;
  width: 500px;
  height: 25px;
}

.story-title {
  border: solid black;
  text-align: center;
}

.author-bio {
  border: solid black;
  padding: 50px;
  background-color: white;
}

.followers, .likes {
text-align: center;
}